* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2 {
  margin-right: 1rem;
  color: white;
}

.btn {
  cursor: pointer;
  background-color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
}
